<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>FLORA : ABOUT</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
	<link rel="stylesheet" href="" th:href="@{/css/Navigation.css}" />
	<link rel="stylesheet" href="" th:href="@{/css/About.css}" />
</head>
<body>
	<nav th:replace="~{Navigation::navbar()}"></nav>
	<div class="information">
		<h3>About Us :</h3>
		<h1>Welcome to FLORA</h1>
		<p>FLORA is your one-stop destination for exquisite floral arrangements and gifts, perfect for birthdays, anniversaries, celebrations, and every special occasion. Our passion is to bring happiness and beauty to your loved ones through our handpicked flowers and customized bouquets.</p>
		<h4>Located at:</h4>
		<h4>123 Floral Street, Blossom City,</h4>
		<h4>Garden State, Morocco.</h4>
	</div>
	<div class="icons">
		<h3><i class="fa-brands fa-square-instagram" style="color: black;"></i> : @floralove</h3>
		<h3><i class="fa-solid fa-phone" style="color: black;"></i> : +91-1234567890</h3>
		<h3><i class="fa-solid fa-envelope" style="color: black;"></i> : contact@flora.com</h3>
	</div>
</body>
</html>
